@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加动画关键帧 */
@keyframes slowScroll {
  0% {
    transform: translate(-25%, -25%) rotate(45deg) translateY(0%);
  }
  100% {
    transform: translate(-25%, -25%) rotate(45deg) translateY(-100%);
  }
}

.slow-bg-scroll {
  animation: slowScroll 60s linear infinite; /* 设置一个很长的动画时间 */
  will-change: transform;
}